<div>
    <a href="javascript:void(0);"
       class="tick fa fa-check checkable-icon <% if (task.get('done')) { %>checked<% } %>"></a><span class="name"><%= task.get('name') %></span>
    <span class="appended_info"></span>

    <div class="task_actions">
        <a href="javascript:void(0);" class="archive_button fa fa-archive checkable-icon" title="Archive"></a>
        <a href="javascript:void(0);" class="delete_button fa fa-minus clickable-icon" title="Delete"></a>
    </div>
    <div class="clearer"></div>
    <div class="all_info"></div>
</div>