<div class="header">
    <div class="page_title"><a href="javascript:void(0);" onclick="" class="show_left_menu_button"><i class="fa  fa-caret-square-o-right "></i></a> Task Management</div>
</div>
<div class="tasks_viewer_content">
    <div class="tasks_container">
        <h3>Todo list</h3>
        <label class="show_archived_container">
            <a class="fa fa-square-o checkable-icon show_archived" /> Show archived
        </label>
        <div class="tasks_list">

        </div>
        <div class="add_section">
            <i class="fa fa-check"></i>
            <input class="task_name" type="text" placeholder="Enter a name"/>
            <a class="add_task_button fa fa-plus clickable-icon" href="javascript:void(0);"></a>
        </div>
    </div>
    <div class="events_container">
        <div class="date_events">
            <h3>Today</h3>

            <div class="today_events events_list">

            </div>
        </div>
        <div class="date_events">
            <h3>Tomorrow</h3>

            <div class="tomorrow_events events_list">

            </div>
        </div>
        <div class="date_events">
            <h3>In two days</h3>

            <div class="later_events events_list">

            </div>
        </div>
    </div>
<div class="clearer"></div>
</div>
